<div class="field">
  <label class="label" for="">{{ label }}</label>
  <div class="control">
    <input
      class="input"
      [formControl]="control"
      [ngClass]="{
        'is-danger': hasErrors()
      }"
    />
  </div>

  <ng-container *ngIf="hasErrors()">
    <div class="help is-danger" *ngIf="control.errors.required">
      Value is required
    </div>
    <div class="help is-danger" *ngIf="control.errors.minlength">
      Value must be of length:
      {{ control.errors.minlength.requiredLength }}
    </div>
    <div class="help is-danger" *ngIf="control.errors.maxlength">
      Value must be of length less than or equal to:
      {{ control.errors.maxlength.requiredLength }}
    </div>
    <div class="help is-danger" *ngIf="control.errors.pattern">
      Invalid format
    </div>
  </ng-container>
</div>
